body{padding-top:50px}#content{background-color:#fafafa;padding-bottom:20px}#flashMessage{margin:20px 0 0}.radio-inline label,.checkbox-inline label{cursor:pointer;display:inline;font-weight:400;margin-bottom:0}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
